* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 14px;
  line-height: 1.8;
  background: #f8f8f8;
}
.wrap {
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  max-width: 1200px;
  background: #fff;
}
/*
 * 变量
 */
.p1 {
  font-size: 14px;
  color: #2182e8;
}
.p2 {
  font-size: 18px;
  color: #54b5ff;
}
