
body{
    font-size: 14px; line-height: 1.8; background: #f8f8f8;
}
.wrap {
    margin: 0 auto; padding: 30px; box-sizing: border-box;
    max-width: 1000px; background: #fff;
}
.demo-box{
    margin-bottom: 30px;
}





/*
 * 变量
 */

//设置变量
@nice-blue: #2182e8;
@light-blue: @nice-blue + #333;
@font-size: 14px;

//使用变量
.p1 { font-size: @font-size; color: @nice-blue; }
.p2 { font-size: @font-size + 4; color: @light-blue; }





/*
 * 混合使用
 */

//设置通用的属性集
.bordered {
    margin-bottom: 15px; padding-bottom: 5px; border-bottom: solid 1px #ccc;
}

//调用通用属性集
.title{
    font-size: 18px; color: #333; font-weight: bold;
    .bordered
}
.desc{
    color: #666;
    .bordered
}





/*
 * 带参数的混合
 */
.border-radius (@radius) {
    margin: 10px 0; padding: 10px; background: #f8f8f8;
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.button {
    width: 100px; text-align: center;
    .border-radius(6px);  
}
.con {
    .border-radius(10px);
}






