html {
  margin: 0 auto;
  background: #eee;
  font-size: 50px;
  max-width: 750px;
}
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li,
form,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
}
body {
  font-family: "PingFang SC", Helvetica, Arial, "Microsoft YaHei";
  color: #444;
  background: #fff;
  padding-bottom: 2rem;
}
body * {
  -webkit-text-size-adjust: 100%;
  /*文本的大小调整*/
  -webkit-user-select: none;
  /*文本不能被选择  在事件章节 去兼容安卓*/
  box-sizing: border-box;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*取消轻按时高亮*/
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  /*去苹果圆角*/
}
img {
  vertical-align: bottom;
  border: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
a {
  color: #555;
  text-decoration: none;
}
a,
input,
textarea,
select,
option {
  outline: 0;
  /*点击时虚线边框*/
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
/*
    首页
 * */
header {
  height: 1.92rem;
  background: linear-gradient(to right, #eb568e, #fd3953);
  padding: 0.66rem 0.64rem 0;
  position: relative;
}
header .m-title {
  margin: 0 auto;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
}
header .action-back {
  display: block;
  width: 0.32rem;
  height: 0.6rem;
  background: center center url(../img/icon-left.png) no-repeat;
  background-size: 0.32rem;
  position: absolute;
  top: 0.66rem;
  left: 0;
  z-index: 2;
  padding: 0 0.6rem;
  box-sizing: content-box;
}
.home-banner {
  height: 8rem;
  margin: 0.4rem 0 0.6rem;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.home-banner .swiper-slide {
  margin: 0 0.12rem;
  width: 13.6rem;
  height: 8rem;
  border-radius: 0.4rem;
  background: #b5e1fe;
  overflow: hidden;
}
.home-banner .swiper-pagination {
  height: 0.2rem;
  line-height: 0.2rem;
  bottom: 0.5rem !important;
}
.home-banner .swiper-pagination .swiper-pagination-bullet {
  margin: 0 0.1rem !important;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 100%;
  opacity: .7;
}
.home-banner .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.home-banner a {
  display: block;
}
.home-banner img {
  width: 13.6rem;
  height: 8rem;
}
.home-nav ul {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.home-nav li {
  width: 2rem;
  margin: 0 0.8rem 0.6rem;
}
.home-nav li img {
  width: 2rem;
  height: 2rem;
}
.home-nav li p {
  line-height: 1rem;
  font-size: 0.48rem;
  color: #262626;
  text-align: center;
}
.banner-min {
  height: 4rem;
  margin-bottom: 0.6rem;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.banner-min .swiper-slide {
  width: 15rem;
  height: 4rem;
  overflow: hidden;
}
.banner-min .swiper-pagination {
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: right;
  padding-right: 0.2rem;
  bottom: 0.4rem !important;
}
.banner-min .swiper-pagination .swiper-pagination-bullet {
  margin: 0 0.1rem !important;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 100%;
  opacity: .7;
}
.banner-min .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.banner-min a {
  display: block;
}
.banner-min img {
  width: 15rem;
  height: 4rem;
}
.home-note {
  margin-bottom: 0.6rem;
  padding: 0 0.4rem;
}
.home-note .hd {
  text-align: center;
  margin-bottom: 0.4rem;
}
.home-note .hd h2 {
  line-height: 0.8rem;
  font-size: 0.68rem;
  color: #262626;
  margin-bottom: 0.3rem;
  position: relative;
}
.home-note .hd h2:before,
.home-note .hd h2:after {
  display: block;
  content: '';
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 100%;
  background: #262626;
  position: absolute;
  top: 0.3rem;
}
.home-note .hd h2:before {
  left: 5.1rem;
}
.home-note .hd h2:after {
  right: 5.1rem;
}
.home-note .hd p {
  line-height: 0.5rem;
  font-size: 0.48rem;
  color: #999999;
}
.home-note li {
  margin: 0.4rem 0;
  padding: 0.3rem;
  height: 4.8rem;
  border-radius: 0.4rem;
  box-shadow: 0.06rem 0.08rem 0.2rem 0.02rem #e3e3e3;
}
.home-note li .pic img {
  width: 4.2rem;
  height: 4.2rem;
  float: left;
  margin-right: 0.1rem;
}
.home-note li .info {
  width: 4.9rem;
  float: right;
}
.home-note li .info h3 {
  margin-top: -0.1rem;
  line-height: 0.88rem;
  font-size: 0.56rem;
  color: #262626;
  margin-bottom: 0.24rem;
}
.home-note li .info .desc {
  height: 1.04rem;
  line-height: 0.52rem;
  font-size: 0.4rem;
  color: #999999;
  margin-bottom: 0.6rem;
  overflow: hidden;
}
.home-note li .info .yy {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.4rem;
  color: #262626;
  overflow: hidden;
}
.home-note li .info .yy img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  margin-right: 0.2rem;
  float: left;
}
.home-note .more {
  line-height: 0.44rem;
  font-size: 0.44rem;
  text-align: right;
  color: #262626;
  background: right center url(../img/icon-more.png) no-repeat;
  margin-right: 0.3rem;
  padding-right: 0.64rem;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  max-width: 15rem;
  height: 2rem;
  padding: 0.2rem 0;
  background: #fff;
  border-top: 1px solid #eee;
}
.bottom-bar ul {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bottom-bar li {
  text-align: center;
}
.bottom-bar li .icon {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 auto 0.2rem;
}
.bottom-bar li p {
  line-height: 0.4rem;
  font-size: 0.4rem;
  color: #262626;
}
.bottom-bar li .home {
  background: center center url(../img/b_Home.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar li .doctor {
  background: center center url(../img/b_Doctor.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar li .online {
  background: center center url(../img/b_Online.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar li .hospital {
  background: center center url(../img/b_Hospital.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar li .my {
  background: center center url(../img/b_My.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar .active p,
.bottom-bar li:hover p {
  color: #fd3953;
}
.bottom-bar .active .home,
.bottom-bar li:hover .home {
  background: center center url(../img/b_Home_active.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar .active .doctor,
.bottom-bar li:hover .doctor {
  background: center center url(../img/b_Doctor_active.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar .active .online,
.bottom-bar li:hover .online {
  background: center center url(../img/b_Online_active.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar .active .hospital,
.bottom-bar li:hover .hospital {
  background: center center url(../img/b_Hospital_active.png) no-repeat;
  background-size: 1rem;
}
.bottom-bar .active .my,
.bottom-bar li:hover .my {
  background: center center url(../img/b_My_active.png) no-repeat;
  background-size: 1rem;
}
/**
 * 淘整形    
 * */
#nav {
  height: 2rem;
  padding: 0.7rem 1rem 0;
  background: linear-gradient(to right, #eb568e, #fd3953);
  position: relative;
}
#nav:after {
  display: block;
  content: '';
  width: 2rem;
  height: 0.04rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 2.26rem;
}
#nav ul {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#nav li {
  width: 33.3%;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
}
.nav-box {
  position: fixed;
  top: 3.92rem;
  bottom: 0;
  z-index: 99;
  width: 100%;
  max-width: 15rem;
  overflow: hidden;
  display: none;
}
.filter_detail {
  position: relative;
  top: 0;
  bottom: 0;
  display: none;
}
.filter_detail .list-wrapper {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  display: flex;
  justify-content: space-around;
}
.filter_detail .left-list {
  float: left;
  width: 5.8rem;
  background: #f7f7f7;
  overflow: hidden;
}
.filter_detail .left-list ul {
  overflow-y: auto;
}
.filter_detail .left-list li {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.56rem;
  color: #262626;
  border-bottom: 1px solid #eee;
  padding-left: 0.5rem;
  transition: all .5s;
}
.filter_detail .left-list li.active,
.filter_detail .left-list li:hover {
  color: #fd3953;
  background: #fcfcfc;
}
.filter_detail .right-item {
  padding: 0 0.3rem;
  width: 9.2rem;
  background: #fff;
}
.filter_detail .right-item li {
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.56rem;
  color: #262626;
  text-align: center;
  float: left;
  border-bottom: 1px solid #eee;
  transition: all .5s;
}
.filter_detail .right-item li:nth-child(2n+1) {
  border-right: 1px solid #eee;
}
.filter_detail .right-item li.active,
.filter_detail .right-item li:hover {
  color: #fd3953;
  background: #fcfcfc;
}
.filter_detail .order-by {
  background: #f7f7f7;
  box-shadow: 0 0.08rem 0.1rem 0 #e3e3e3;
}
.filter_detail .order-by li {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.56rem;
  color: #262626;
  border-bottom: 1px solid #eee;
  padding-left: 0.5rem;
  transition: all .5s;
}
.filter_detail .order-by li:active,
.filter_detail .order-by li:hover {
  color: #fd3953;
  background: #fcfcfc;
}
.product-list {
  margin-bottom: 0.6rem;
  padding: 0 0.4rem;
}
.product-list li {
  margin: 0.4rem 0;
  padding: 0.3rem;
  height: 4.8rem;
  border-radius: 0.4rem;
  box-shadow: 0.06rem 0.08rem 0.2rem 0.02rem #e3e3e3;
  overflow: hidden;
}
.product-list li .pic {
  float: left;
  width: 4.2rem;
  height: 4.2rem;
}
.product-list li .pic img {
  width: 4.2rem;
  height: 4.2rem;
}
.product-list li .info {
  width: 9rem;
  float: right;
}
.product-list li .info h3 {
  margin-top: -0.1rem;
  line-height: 0.88rem;
  font-size: 0.56rem;
  color: #262626;
  margin-bottom: 0.48rem;
  font-family: "PingFang SC Bold";
}
.product-list li .info .yy {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.52rem;
  color: #999999;
  margin-bottom: 0.6rem;
  overflow: hidden;
  font-family: "PingFang SC Medium";
}
.product-list li .info .foot {
  height: 0.88rem;
  line-height: 0.88rem;
  color: #999999;
}
.product-list li .info .foot span {
  display: inline-block;
  float: left;
  font-family: "PingFang SC Medium";
}
.product-list li .info .foot .price {
  line-height: 0.88rem;
  font-size: 0.88rem;
  color: #fd3953;
  margin-right: 0.4rem;
}
.product-list li .info .foot .origprice {
  font-size: 0.6rem;
  text-decoration: line-through;
}
.product-list li .info .foot .booking {
  font-size: 0.48rem;
  float: right;
}
/**
 * 找医生
 */
.doctor-list {
  margin-bottom: 0.6rem;
  padding: 0 0.4rem;
}
.doctor-list li {
  margin: 0.4rem 0;
  padding: 0.3rem;
  height: 4.8rem;
  border-radius: 0.4rem;
  box-shadow: 0.06rem 0.08rem 0.2rem 0.02rem #e3e3e3;
  overflow: hidden;
}
.doctor-list li .pic {
  float: left;
  width: 4.2rem;
  height: 4.2rem;
}
.doctor-list li .pic img {
  width: 4.2rem;
  height: 4.2rem;
}
.doctor-list li .info {
  width: 9rem;
  float: right;
}
.doctor-list li .info h3 {
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #262626;
}
.doctor-list li .info p {
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #999999;
  margin-top: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.doctor-list li .info .zxBtn {
  display: block;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #fd3953;
  text-align: right;
  margin-top: 0.4rem;
}
/*
 * 找医院
 */
.hospital-list {
  margin-bottom: 0.6rem;
  padding: 0 0.4rem;
}
.hospital-list li {
  margin: 0.4rem 0;
  padding: 0.3rem;
  height: 4.8rem;
  border-radius: 0.4rem;
  box-shadow: 0.06rem 0.08rem 0.2rem 0.02rem #e3e3e3;
  overflow: hidden;
}
.hospital-list li .pic {
  float: left;
  width: 4.2rem;
  height: 4.2rem;
}
.hospital-list li .pic img {
  width: 4.2rem;
  height: 4.2rem;
}
.hospital-list li .info {
  width: 9rem;
  float: right;
}
.hospital-list li .info h3 {
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #262626;
}
.hospital-list li .info p {
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #999999;
  margin-top: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hospital-list li .info .address {
  height: 1.76rem;
  line-height: 0.88rem;
  white-space: pre-wrap;
  margin-top: 0.2rem;
}
.hospital-list li .info .zxBtn {
  display: block;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #fd3953;
  text-align: right;
  margin-top: 0.2rem;
}
/*
 * 专题栏
 * */
.topics-list li {
  padding: 0.4rem 0.8rem 0.6rem;
}
.topics-list li .pic {
  width: 13.4rem;
  height: 8.8rem;
  border-radius: 0.16rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.topics-list li .pic img {
  width: 100%;
  height: 100%;
}
.topics-list li .info h3 {
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.7rem;
  color: #262626;
  overflow: hidden;
  margin-bottom: 0.3rem;
}
.topics-list li .info .yy {
  height: 1.6rem;
  line-height: 1.6rem;
  overflow: hidden;
}
.topics-list li .info .yy img {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  margin-right: 0.4rem;
  float: left;
}
.topics-list li .info .yy span {
  display: inline-block;
  width: 8.2rem;
  font-size: 0.56rem;
  color: #262626;
  overflow: hidden;
}
.topics-list li .info .yy em {
  display: inline-block;
  font-size: 0.48rem;
  color: #ccc;
  padding-right: 0.3rem;
  float: right;
}
/*
 * 活动集
 */
.activity-list,
.list2 {
  padding: 0 1rem;
}
.activity-list li,
.list2 li {
  margin: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0.06rem 0.08rem 0.2rem 0.02rem #e3e3e3;
}
.activity-list li .pic,
.list2 li .pic {
  width: 13rem;
  height: 8rem;
  border-radius: 0.3rem 0.3rem 0 0;
  margin-bottom: 0.6rem;
  overflow: hidden;
}
.activity-list li .pic img,
.list2 li .pic img {
  width: 100%;
  height: 100%;
}
.activity-list li .info,
.list2 li .info {
  text-align: center;
  padding-bottom: 0.4rem;
}
.activity-list li .info h3,
.list2 li .info h3 {
  line-height: 0.64rem;
  height: 0.64rem;
  font-size: 0.64rem;
  color: #262626;
  margin-bottom: 0.4rem;
}
.activity-list li .info p,
.list2 li .info p {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.5rem;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.4rem;
}
.activity-list li .info .btn,
.list2 li .info .btn {
  overflow: hidden;
}
.activity-list li .info .btn a,
.list2 li .info .btn a {
  display: inline-block;
  width: 3rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.48rem;
  color: #fff;
  background: #fd3953;
  border-radius: 0.16rem;
  margin: 0 1.74rem;
  float: left;
}
/*
 * 优惠券
 */
.card-list li {
  margin: 0.4rem;
  height: 4.8rem;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0.06rem 0.08rem 0.2rem 0.02rem #e3e3e3;
}
.card-list li .pic {
  width: 4.5rem;
  height: 4.8rem;
  float: right;
}
.card-list li .pic img {
  width: 100%;
  height: 100%;
}
.card-list li .info {
  width: 9.2rem;
  padding: 0.5rem 0 0 1.2rem;
}
.card-list li .info h3 {
  line-height: 0.64rem;
  height: 0.64rem;
  font-size: 0.64rem;
  color: #262626;
}
.card-list li .info p {
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.4rem;
}
.card-list li .info .btn {
  display: block;
  width: 3rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.48rem;
  color: #fd3953;
  text-align: center;
  border: 0.04rem solid #fd3953;
  border-radius: 0.16rem;
  margin: 0.36rem 0 0 2rem;
}
.card-list li .info .btn:focus {
  color: #fff;
  background: #fd3953;
  transition: all .5s;
}
/*
 * 项目大全
 */
.product {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 2rem;
  bottom: 0;
  z-index: 99;
  overflow: hidden;
}
.product .left-list {
  float: left;
  width: 5.8rem;
  background: #f7f7f7;
  overflow-x: hidden;
  overflow-y: auto;
}
.product .left-list li {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.56rem;
  color: #262626;
  border-bottom: 1px solid #eee;
  padding-left: 0.5rem;
  transition: all .5s;
}
.product .left-list li.active,
.product .left-list li:hover {
  color: #fd3953;
  background: #fcfcfc;
}
.product .right-item {
  width: 9.2rem;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
.product .right-item li {
  margin-left: 1rem;
}
.product .right-item li.active,
.product .right-item li:hover {
  color: #fd3953;
}
.product .right-item li h3 {
  margin-top: 1rem;
  line-height: 0.6rem;
  font-size: 0.56rem;
  color: #fd3953;
}
.product .right-item li a {
  display: inline-block;
  width: 3.2rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.5rem;
  text-align: center;
  background: #f7f7f7;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.8rem 0.8rem 0 0;
}
.product .right-item li a:nth-child(2n) {
  margin-right: 0;
}
/*
 * 项目详情  -- 百科
 */
.baike .banner-baike li {
  width: 5.4rem;
  float: left;
}
.baike .banner-baike li img {
  width: 5.4rem;
  height: 5.4rem;
}
.baike .banner-baike li P {
  line-height: 0.48rem;
  font-size: 0.48rem;
  text-align: center;
  color: #262626;
}
