@rex: 50rem;
@nice-black: rgb(38,38,38);
@light-black: rgb(153,153,153);
@hig-color: rgb(253,57,83);

html{ margin: 0 auto; background: #eee; font-size: 50px; max-width: 750px;}
body,h1,h2,h3,h4,p,dl,dt,dd,ul,li,form,button,input,textarea,th,td,a{margin:0;padding:0}
body {
    font-family: "PingFang SC",Helvetica,Arial,"Microsoft YaHei"; color:#444; background: #fff;
    padding-bottom: 100/@rex;
}
body * {
    -webkit-text-size-adjust: 100%; /*文本的大小调整*/
    -webkit-user-select: none; /*文本不能被选择  在事件章节 去兼容安卓*/
   box-sizing: border-box;
}
a,
input,
button{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*取消轻按时高亮*/ }
input,
button { -webkit-appearance: none; border-radius: 0; /*去苹果圆角*/ }
img{vertical-align:bottom;border:0}
h1,h2,h3,h4{ font-weight: normal;}
ul,ol,li{list-style:none;}
em,i{ font-style: normal;}
a{color:#555;text-decoration:none;}
a,input, textarea, select, option { outline: 0; /*点击时虚线边框*/ }
.fl{float:left}.fr{float:right}.cb{clear:both}


/*
    首页
 * */
header{
    height: 96/@rex; background: linear-gradient(to right, #eb568e, #fd3953);
    padding: 33/@rex 32/@rex 0; position: relative;
    .m-title,
    .mui-title{ margin: 0 auto; line-height: 30/@rex; font-size: 30/@rex; text-align: center; color: #fff; font-weight: bold; }
    .action-back{
        display: block; width: 16/@rex; height: 30/@rex; background: center center url(../img/icon-left.png) no-repeat;        
        background-size: 16/@rex; position: absolute; top: 33/@rex; left: 0; z-index: 2;
        padding: 0 30/@rex; box-sizing: content-box;
    }
}

.mui-content{
        
}

.home-banner{
    height: 400/@rex; margin:20/@rex 0 30/@rex; position: relative; z-index: 9; overflow: hidden;
    .swiper-slide{ margin: 0 6/@rex; width: 680/@rex; height: 400/@rex; border-radius: 20/@rex; background: #b5e1fe; overflow: hidden; }
    .swiper-pagination{
        height: 10/@rex; line-height: 10/@rex; bottom: 25/@rex !important;
        .swiper-pagination-bullet{ margin: 0 5/@rex !important; width: 8/@rex; height: 8/@rex; border-radius: 100%; opacity: .7; }
        .swiper-pagination-bullet-active{ background: #fff;}
    } 
    a{ display: block;}
    img{width: 680/@rex; height: 400/@rex;}
}
.home-nav{
    ul{
        display: -webkit-flex; -webkit-flex-wrap: wrap; -webkit-justify-content: space-around;
        display: flex; flex-wrap: wrap; justify-content: space-around;
        overflow: hidden;
    }
    li{
        width: 100/@rex; margin: 0 40/@rex 30/@rex;
        img{ width: 100/@rex; height: 100/@rex; }
        p{ line-height: 50/@rex; font-size: 24/@rex; color: rgb(38,38,38); text-align: center; }
    }
}
.banner-min{
    height: 200/@rex; margin-bottom: 30/@rex; position: relative; z-index: 9; overflow: hidden;
    .swiper-slide{ width: 750/@rex; height: 200/@rex; overflow: hidden; }
    .swiper-pagination{
        height: 10/@rex; line-height: 10/@rex; text-align: right; padding-right: 10/@rex;
        bottom: 20/@rex !important;
        .swiper-pagination-bullet{ margin: 0 5/@rex !important; width: 8/@rex; height: 8/@rex; border-radius: 100%; opacity: .7;}
        .swiper-pagination-bullet-active{ background: #fff;}
    }    
    a{ display: block;}
    img{ width: 750/@rex; height: 200/@rex; }
}
.home-note{
    margin-bottom: 30/@rex; padding:0 20/@rex;
    .hd{
        text-align: center; margin-bottom: 20/@rex;
        h2{
            line-height: 40/@rex; font-size: 34/@rex; color: @nice-black; margin-bottom: 15/@rex; position: relative;
            &:before,
            &:after{
                display: block; content: ''; width: 10/@rex; height: 10/@rex; border-radius: 100%; background: @nice-black;
                position: absolute; top: 15/@rex;
            }
            &:before{ left: 255/@rex; }
            &:after{ right: 255/@rex; }
            
        }
        p{ line-height: 25/@rex; font-size: 24/@rex; color: @light-black; }
    }
    ul{ }
    li{
        margin: 20/@rex 0; padding: 15/@rex; height: 240/@rex; border-radius: 20/@rex;
        box-shadow: 3/@rex 4/@rex 10/@rex 1/@rex rgb( 227, 227, 227 );
        .pic{
            img{ width: 210/@rex; height: 210/@rex; float: left; margin-right: 5/@rex; }            
        }
        .info{
            width: 245/@rex; float: right;
            h3{ margin-top: -5/@rex; line-height: 44/@rex; font-size: 28/@rex; color: @nice-black; margin-bottom: 12/@rex; }
            .desc{ height: 52/@rex; line-height: 26/@rex; font-size: 20/@rex; color: @light-black; margin-bottom: 30/@rex; overflow: hidden; }
            .yy{
                height: 30/@rex; line-height: 30/@rex; font-size: 20/@rex; color: @nice-black;  overflow: hidden;
                img{ width: 30/@rex; height: 30/@rex; border-radius: 100%; margin-right: 10/@rex; float: left; }
            }
        }
    }
    .more{
        line-height: 22/@rex; font-size: 22/@rex; text-align: right; color: @nice-black; background: right center url(../img/icon-more.png) no-repeat; margin-right: 15/@rex; padding-right: 32/@rex;
    }
}

.bottom-bar{
    position: fixed; bottom: 0; z-index: 99; width: 100%; max-width: 750/@rex; height: 100/@rex; padding: 10/@rex 0; background: #fff; border-top: 1px solid #eee;
    ul{
        display: -webkit-flex; -webkit-flex-wrap: wrap; -webkit-justify-content: space-around;
        display: flex; flex-wrap: wrap; justify-content: space-around;
    }
    li{
        text-align: center;
        .icon{ display: block; width: 50/@rex; height: 50/@rex; margin:0 auto 10/@rex; }
        p{ line-height: 20/@rex; font-size: 20/@rex; color: @nice-black; }
        .home{ background: center center url(../img/b_Home.png) no-repeat; background-size: 50/@rex; }
        .doctor{ background: center center url(../img/b_Doctor.png) no-repeat; background-size: 50/@rex;}        
        .online{ background: center center url(../img/b_Online.png) no-repeat; background-size: 50/@rex;}
        .hospital{ background: center center url(../img/b_Hospital.png) no-repeat; background-size: 50/@rex;}
        .my{ background: center center url(../img/b_My.png) no-repeat; background-size: 50/@rex;}
    }
    .active,li:hover{
        p{ color: @hig-color; }
        .home{ background: center center url(../img/b_Home_active.png) no-repeat; background-size: 50/@rex; }
        .doctor{ background: center center url(../img/b_Doctor_active.png) no-repeat; background-size: 50/@rex;}        
        .online{ background: center center url(../img/b_Online_active.png) no-repeat; background-size: 50/@rex;}
        .hospital{ background: center center url(../img/b_Hospital_active.png) no-repeat; background-size: 50/@rex;}
        .my{ background: center center url(../img/b_My_active.png) no-repeat; background-size: 50/@rex;}
    }
}


/**
 * 淘整形    
 * */

//导航
#nav{
    height: 100/@rex; padding: 35/@rex 50/@rex 0; background: linear-gradient(to right, #eb568e, #fd3953);
    position: relative;
    &:after{
        display: block; content: ''; width: 100/@rex; height: 2/@rex; background: #fff;
        position: absolute; bottom: 0; left: 113/@rex;
    }
    ul{
        display: -webkit-flex; -webkit-justify-content: space-around;
        display: flex; justify-content: space-around;
        width: 100%;
    }
    li{
        width: 33.3%; line-height: 30/@rex; font-size: 30/@rex; color: #fff; text-align: center;
    }
}
.nav-box{
    position: fixed; top:196/@rex; bottom: 0; z-index: 99; width: 100%; max-width: 750/@rex; overflow: hidden; display: none;
}
.filter_detail{
    position: relative; top: 0; bottom: 0; display: none;
    .list-wrapper{
        display: -webkit-flex; -webkit-justify-content: space-around;
        display: flex;  justify-content: space-around;
    }

    .left-list{
        float: left; width: 290/@rex; background: #f7f7f7; overflow: hidden;
        ul{overflow-y: auto;}
        li{
            height: 100/@rex; line-height: 100/@rex; font-size: 28/@rex; color: @nice-black;
            border-bottom: 1px solid #eee; padding-left: 25/@rex;
            transition: all .5s;
            &.active,&:hover{ color: @hig-color; background: #fcfcfc; }
            //&:nth-child(4){ color: @hig-color; background: #fff; }             
        }
    }
    .right-item{
        padding:0 15/@rex; width: 460/@rex; background: #fff;
        li{
            width: 50%; height: 150/@rex; line-height: 150/@rex;
            font-size: 28/@rex; color: @nice-black; text-align: center;
            float: left; border-bottom: 1px solid #eee;
            transition: all .5s;
            &:nth-child(2n+1){ border-right: 1px solid #eee; }
            &.active,&:hover{ color: @hig-color; background: #fcfcfc; }              
        }
    }
    .order-by{
        background: #f7f7f7; box-shadow: 0 4/@rex 5/@rex 0 rgb( 227, 227, 227 );

        ul{}
        li{
            height: 100/@rex; line-height: 100/@rex; font-size: 28/@rex; color: @nice-black;
            border-bottom: 1px solid #eee; padding-left: 25/@rex;
            transition: all .5s;
            &:active,&:hover{ color: @hig-color; background: #fcfcfc; }
        }
    }
}
//商品列表
.product-list{
    margin-bottom: 30/@rex; padding:0 20/@rex;
    ul{}
    li{        
        margin: 20/@rex 0; padding: 15/@rex; height: 240/@rex; border-radius: 20/@rex;
        box-shadow: 3/@rex 4/@rex 10/@rex 1/@rex rgb( 227, 227, 227 ); overflow: hidden;
        .pic{
            float: left; width: 210/@rex; height: 210/@rex;
            img{ width: 210/@rex; height: 210/@rex; }
        }
        .info{
            width: 450/@rex; float: right;
            h3{ margin-top: -5/@rex; line-height: 44/@rex; font-size: 28/@rex; color: @nice-black; margin-bottom: 24/@rex; font-family: "PingFang SC Bold"; }
            .yy{ height: 30/@rex; line-height: 30/@rex; font-size: 26/@rex; color: @light-black; margin-bottom: 30/@rex; overflow: hidden; font-family: "PingFang SC Medium"; }
            .foot{
                height: 44/@rex; line-height: 44/@rex; color: @light-black;
                span{ display: inline-block; float: left; font-family: "PingFang SC Medium"; }
                .price{ line-height: 44/@rex; font-size: 44/@rex; color: @hig-color; margin-right: 20/@rex; }
                .origprice{ font-size: 30/@rex; text-decoration: line-through; }
                .booking{ font-size: 24/@rex; float: right; }
            }
        }
    }
}


/**
 * 找医生
 */
.doctor-list{
    margin-bottom: 30/@rex; padding:0 20/@rex;
    ul{}
    li{        
        margin: 20/@rex 0; padding: 15/@rex; height: 240/@rex; border-radius: 20/@rex;
        box-shadow: 3/@rex 4/@rex 10/@rex 1/@rex rgb( 227, 227, 227 ); overflow: hidden;
        .pic{
            float: left; width: 210/@rex; height: 210/@rex;
            img{ width: 210/@rex; height: 210/@rex; }
        }
        .info{
            width: 450/@rex; float: right;
            h3{ line-height: 32/@rex; font-size: 32/@rex; color: @nice-black; }
            p{
                height: 24/@rex; line-height: 24/@rex; font-size: 24/@rex; color: @light-black; margin-top: 20/@rex; 
                overflow: hidden; text-overflow: ellipsis; white-space : nowrap; 
            }
            .zxBtn{
                display: block; line-height: 24/@rex; font-size: 24/@rex; color: @hig-color; text-align: right;
                margin-top: 20/@rex;
            }
            
        }
    }
}

/*
 * 找医院
 */
.hospital-list{
    margin-bottom: 30/@rex; padding:0 20/@rex;
    ul{}
    li{        
        margin: 20/@rex 0; padding: 15/@rex; height: 240/@rex; border-radius: 20/@rex;
        box-shadow: 3/@rex 4/@rex 10/@rex 1/@rex rgb( 227, 227, 227 ); overflow: hidden;
        .pic{
            float: left; width: 210/@rex; height: 210/@rex;
            img{ width: 210/@rex; height: 210/@rex; }
        }
        .info{
            width: 450/@rex; float: right;
            h3{ line-height: 32/@rex; font-size: 32/@rex; color: @nice-black; }
            p{
                height: 24/@rex; line-height: 24/@rex; font-size: 24/@rex; color: @light-black; margin-top: 20/@rex; 
                overflow: hidden; text-overflow: ellipsis; white-space : nowrap; 
            }
            .address{
                height: 88/@rex; line-height: 44/@rex; white-space: pre-wrap; margin-top: 10/@rex;
            }
            .zxBtn{
                display: block; line-height: 24/@rex; font-size: 24/@rex; color: @hig-color;
                text-align: right; margin-top: 10/@rex;
            }
            
        }
    }
}

/*
 * 专题栏
 * */
.topics-list{
    ul{}
    li{
        padding: 20/@rex 40/@rex 30/@rex;
        .pic{
            width: 670/@rex; height: 440/@rex; border-radius: 8/@rex; margin-bottom: 25/@rex; overflow: hidden;
            img{ width: 100%; height: 100%; }
        }
        .info{
            h3{
                height: 45/@rex; line-height: 45/@rex; font-size: 35/@rex; color: @nice-black; overflow: hidden;
                margin-bottom: 15/@rex;
            }
            .yy{
                height: 80/@rex; line-height: 80/@rex;overflow: hidden;
                img{ width: 80/@rex; height: 80/@rex; border-radius: 100%; margin-right: 20/@rex; float: left; }
                span{ display: inline-block; width: 410/@rex; font-size: 28/@rex; color: @nice-black; overflow: hidden; }
                em{ display: inline-block; font-size: 24/@rex; color: #ccc; padding-right: 15/@rex; float: right; }
            }
            
        }
    }
}

/*
 * 活动集
 */
.activity-list,.list2{
    padding: 0 50/@rex;
    ul{}
    li{
        margin: 50/@rex 0; border-radius: 15/@rex;
        box-shadow: 3/@rex 4/@rex 10/@rex 1/@rex rgb( 227, 227, 227 );
        .pic{
            width: 650/@rex; height: 400/@rex; border-radius: 15/@rex 15/@rex 0 0; margin-bottom: 30/@rex; overflow: hidden;
            img{ width: 100%; height: 100%;}
        }
        .info{
            text-align: center; padding-bottom: 20/@rex;
            h3{
                line-height: 32/@rex; height: 32/@rex; font-size: 32/@rex; color: @nice-black;
                margin-bottom: 20/@rex;
            }
            p{
                height: 25/@rex; line-height: 25/@rex; font-size: 25/@rex; color: @light-black; 
                overflow: hidden; text-overflow: ellipsis; white-space : nowrap; margin-bottom: 20/@rex; 
            }
            .btn{
                overflow: hidden;
                a{
                    display: inline-block; width: 150/@rex; height: 60/@rex; line-height: 60/@rex;
                    font-size:24/@rex; color: #fff; background: @hig-color; border-radius: 8/@rex;
                    margin: 0 87/@rex; float: left;
                }
            }
        }
    }
    
}

/*
 * 优惠券
 */
.card-list{
    ul{}
    li{
        margin: 20/@rex; height: 240/@rex; border-radius: 15/@rex; overflow: hidden;
        box-shadow: 3/@rex 4/@rex 10/@rex 1/@rex rgb( 227, 227, 227 );
        .pic{
            width: 225/@rex; height: 240/@rex; float: right;
            img{ width: 100%; height: 100%;}
        }
        .info{
            width: 460/@rex; padding:25/@rex 0 0 60/@rex;
            h3{
                line-height: 32/@rex; height: 32/@rex; font-size: 32/@rex; color: @nice-black;
            }
            p{
                height: 24/@rex; line-height: 24/@rex; font-size: 24/@rex; color: @light-black; 
                overflow: hidden; text-overflow: ellipsis; white-space : nowrap; margin-top: 20/@rex; 
            }
            .btn{
                display: inline-block; width: 150/@rex; height: 60/@rex; line-height: 60/@rex;
                font-size:24/@rex; color: @hig-color; text-align: center;
                border:2/@rex solid @hig-color; border-radius: 8/@rex; margin: 18/@rex 0 0 100/@rex;
                transition: all .5s; 
                &:focus{
                    color: #fff; background: @hig-color;
                }
            }
        }
    }
}



