html {
  margin: 0 auto;
  background: #f3f3f3;
  font-size: 50px;
}
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li,
form,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
}
body {
  font-family: "PingFang SC", Helvetica, Arial, "Microsoft YaHei";
  color: #444;
}
body * {
  -webkit-text-size-adjust: 100%;
  /*文本的大小调整*/
  -webkit-user-select: none;
  /*文本不能被选择  在事件章节 去兼容安卓*/
  box-sizing: border-box;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*取消轻按时高亮*/
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  /*去苹果圆角*/
}
img {
  vertical-align: bottom;
  border: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
a {
  color: #555;
  text-decoration: none;
}
input,
textarea,
select,
option {
  outline: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
header {
  height: 1.92rem;
  background: linear-gradient(to right, #eb568e, #fd3953);
  padding: 0.66rem 0.64rem 0;
}
header .mui-title {
  margin: 0 auto;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
