<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

<title>淘整形-容蝶网</title>
<meta name="keywords" content="">
<meta name="description" content="">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">
<script src="js/app.js"></script>
<link href="css/app.css" rel="stylesheet"/>
</head>
<body>
<header class="top-bar-nav">
    <div class="m-title">团购列表</div>
    <a href="javascript:void(0);" class="action-back icon-left"></a>
</header>

<!-- 导航 start -->
<section id="nav" class="nav-tab">
  <ul>
  	<li>项目</li>
    <li>城市</li>
  	<li>排序</li>
  </ul>
</section>  
<section class="nav-box" id="nav-box">
  <!-- 项目 -->
  <div id="filter_detail_1" class="filter_detail">
    <filter-list :list="project" @receive="changeProject"></filter-list>
  </div>
  <!-- 地区 -->
  <div id="filter_detail_2" class="filter_detail">
    <filter-list :list="city" @receive="changeCity"></filter-list>
  </div>
  <!-- 排序 -->
  <div id="filter_detail_3" class="filter_detail">
    <div class="order-by">
      <ul>
        <li v-for="item in order" @click="orderBy(item)">{{item.name}}</li>
      </ul>
    </div>
  </div>
  <div class="nav-box-bg" @click="hideNavBox"></div>
</section>
<!-- 导航 end -->

<!-- 商品列表 -->
<section class="product-list">
  <ul v-show="!listData.length">
    <li>
      <div class="pic">
        <a href="#" style="background-image: url(temporary/product-list_1.jpg);"></a>
      </div>
      <div class="info">
        <a href="#"><h3>“成都综合隆鼻”全面改善鼻部问题,告别平庸，塑造立体自信美！！</h3></a>
        <div class="yy">成都韩美整形外科医院</div>
        <div class="foot">          
          <span class="price">¥8880</span>
          <span class="origprice">¥24420</span>          
          <span class="booking">18人预订</span>
        </div>
      </div>
    </li>
    <li>
      <div class="pic">
        <a href="#" style="background-image: url(temporary/product-list_2.jpg);"></a>
      </div>
      <div class="info">
        <a href="#"><h3>“成都综合隆鼻套餐”综合隆鼻直接叫板明星美鼻，告别塌鼻子！</h3></a>
        <div class="yy">成都华美整形外科医院</div>
        <div class="foot">          
          <span class="price">¥4581</span>
          <span class="origprice">¥24420</span>          
          <span class="booking">3人预订</span>
        </div>
      </div>
    </li>
    
  </ul>
  
  <div class="loading" v-show="loading">
    <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
  </div>
  <ul class="product-list-vue" v-show="listData.length">
    <li v-for="item in listData">
      <div class="pic">
        <a :href="'https://m.rongdie.com/tuan/detail/product_id/'+ item.product_id +'.html'"
           :style="'background-image: url(https://rongdie.oss-cn-hangzhou.aliyuncs.com/image/tuan/'+ item.icon+');'"></a>       
      </div>
      <div class="info">
        <a :href="'https://m.rongdie.com/tuan/detail/product_id/'+ item.product_id +'.html'"><h3>{{ item.name }}</h3></a>
        <div class="yy">{{ item.hos_name }}</div>
        <div class="foot">          
          <span class="price">¥{{ item.tuan_price }}</span>
          <span class="origprice">¥{{ item.price }}</span>          
          <span class="booking">{{ item.book_num }}人预订</span>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- 商品列表end -->

<section class="bottom-bar">
  <ul>
    <li class="active"><a href="#bNav">
      <span class="icon home"></span>
      <p>首页</p>
    </a></li>
    <li><a href="#bNav">
      <span class="icon doctor"></span>
      <p>医生</p>
    </a></li>
    <li><a href="#bNav">
      <span class="icon online"></span>
      <p>在线咨询</p>
    </a></li>
    <li><a href="#bNav">
      <span class="icon hospital"></span>
      <p>医院</p>
    </a></li>
    <li><a href="#bNav">
      <span class="icon my"></span>
      <p>我的</p>
    </a></li>
  </ul>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script>
//顶部tab点击切换
$("#nav li").click(function(){
  $("#nav li").removeClass("active");
  $(this).addClass("active");
  $("#nav-box").show();
  $("#nav-box .filter_detail").hide();
  $("#nav-box .filter_detail").eq($(this).index()).show();
  $("body").css("overflow","hidden");
  
  vm.filterItem = [];
  if( $(this).index()==0 ){
    filterProject();
  }else if( $(this).index()==1 ){
    filterCity();
  }
});

Vue.component('filter-list',{
  data:function(){
    return{
      current: 0
    }
  },
  props:["list","filter"],
  template: '<div class="list-wrapper"><div class="left-list"><ul><li :class="i==current?\'active\':\'\'" v-for="(item,i) in list" @click="tapList(i,item)">{{ item.name }}</li></ul></div><div class="right-item"><ul><li v-for="(itemSub,iSub) in list[current].son" @click="tapItem(iSub,itemSub)">{{ itemSub.name }}</li></ul></div></div>',
  methods:{
    tapList: function(i,value){
      //console.log(i,value);
      this.current = i;
    },
    tapItem: function(i,value){
      //console.log(i,value);
      this.current = i;
      //告知父级，改变current的值，需要出发一个自定义事件
      this.$emit("receive",value);
    }
  }
  
});

var vm = new Vue({
  el:"#nav-box",
  data:{
    project: [ {"son":[]} ],
    city: [ {"son":[]} ],
    order:[
      {id:1 , name:"价格从低到高"},
      {id:2 , name:"价格从高到低"}
    ],
    filter:{
      project:{ id:0, name:"不限" },
      city:{ id:0, name:"不限" },
      order:{ id:0, name:"默认" },
    },
  },
  methods:{
    changeProject(value){
      //console.log("父级接收 子类操作 "+value.name+"，"+value.menu2_id);
      this.filter.project = {id: value.menu2_id, name: value.name };
      $("#nav li").eq(0).html(value.name);
      postData();
      $("#nav-box").hide();
      $("body").css("overflow","");
      vList.listData = [];
    },
    changeCity(value){
      this.filter.city = {id: value.id, name: value.name };
      $("#nav li").eq(1).html(value.name);
      postData();
      $("#nav-box").hide();
      $("body").css("overflow","");
      vList.listData = [];
    },
    orderBy(value){
      this.filter.order = value;
      $("#nav li").eq(2).html(value.name);
      postData();
      $("#nav-box").hide();
      $("body").css("overflow","");
      vList.listData = [];
    },
    hideNavBox(){
      $("#nav-box").hide();
      $("body").css("overflow","");
    }
  }
});

var vList = new Vue({
  el: ".product-list",
  data: {
    loading: false,
    listData:[]
  },
  methods: {
    
  }
});

function filterProject(){
  $.get("temporary/product.json", function(result){
    //console.log(result.responseData.menu1_info);
    vm.project = result.responseData.menu1_info;
  });
}

function filterCity(){
  $.get("temporary/product.json", function(result){
    vm.city = result.responseData.city;
  });
}

//筛选后post请求数据
function postData(){
  vList.loading = true;
  $.ajax({
    type: "POST",
    //url: "https://m.rongdie.com/tuan/getTuan",
    url: "http://jmsbang.com/demo/ruli/rd_getTuan.php",
    data: vm.filter,
    success: function(re){      
      //console.log(JSON.parse(re));
      setTimeout(function(){
        vList.listData = vList.listData.concat(JSON.parse(re));      
        vList.loading = false;
      },100);
    }
  });
}

</script>

</body>
</html>